{% load i18n %}{% autoescape off %}
{% trans 'Здраствуйте ' %}{{user.username}},

{% trans "Вы получили это письмо на почту потому, что вы запросили сбросить пароль от вашего акоунта на сервере "%}{{ site_name }}.

{% trans "Пожалуйста пройдите по ссылке и установите себе новый пароль:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% trans 'Ваш аккаунт, на случай если вы забыли:' %} {{ user.get_username }}

{% trans "Спасибо за использование нашего сайта!" %}

{% trans "Разработка и сервис от команды инженеров ДКБ службы исследования рынка."%}
{% trans "Платформа: "%}{{ site_name }}

{% endautoescape %} -->